
// List helper
// ------------------------------------------------------------------------ //

.list-nostyle {
    list-style: none;
    margin: 0;
    padding: 0;
}

.list-inline > li {
    display: inline-block;
}


// Typography helper
// ------------------------------------------------------------------------ //

.text-left {
    text-align: left;
}

.text-center {
    text-align: center;
}

.text-right {
    text-align: right;
}

.text-ellipsis {
    display: block;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.text-big {
    font-size: 2.5em;
}

.text-orange {
    color: $orange;
}

.text-red {
    color: $red;
}

.text-green {
    color: $green_lime;
}

.text-grey {
    color: $grey_dark;
}

.fix-margin {
    margin: 0;
}

.empty-state {
    padding: 30px 0;
    display: block;
}


// Visual helper
// ------------------------------------------------------------------------ //

.clearfix:after,
.cf:after {
    display: table;
    clear: both;
    content: '';
}

.hidden {
    display: none !important;
}

.visuallyhidden,
.sr-only {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;

    &.focusable:active,
    &.focusable:focus {
        clip: auto;
        height: auto;
        margin: 0;
        overflow: visible;
        position: static;
        width: auto;
    }
}

.invisible {
    visibility: hidden;
}

.float-right {
    float: right;
}

.float-left {
    float: left;
}

.hide-on-mobile {
    display: none;

    @media #{$medium} {
        display: inline-block;
    }
}