.box {
    position: relative;
    min-height: 130px;
    border: 1px solid $grey;
    background: white;
    display: inline-block;
}

a.box {
    box-shadow: 0;
    transition: box-shadow 1s ease;

    &:hover,
    &:focus {
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
        transition: box-shadow 200ms ease;
        text-decoration: none;
    }
}

.box-login {
    width: 100%;
    padding: 20px;
    margin: 0 auto;

    @media #{$medium} {
        width: 320px;
    }
}

.box-testing {
    position: relative;
    width: 100%;
}

.box-testing__detail {
    padding: 15px;
    font-size: 12px;

    @media #{$large} {
        font-size: 16px;
    }
}

.box-testing__percent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 30px;
    padding: 5px 15px;
    font-size: 10px;
    background: $grey;

    span {
        margin-right: 20px;
    }

    @media #{$large} {
        font-size: 13px;
    }
}

// element
.box__thumbnail {
    float: left;    
    width: 115px;
    height: 130px;
    padding: 5px;
    text-align: center;
    color: white;
    background: $primary;

    .text-big {
        display: block;
        margin-top: 30px;
    }

    @media #{$medium} {
        float: right;
    }
}

.box__desc {
    position: absolute;
    top: 0;
    left: 115px;
    padding: 5px;
    font-size: 14px;

    @media #{$medium} {
        left: 0;
        right: 115px;
    }
}

// modifier
.box--block {
    width: 100%;
}

.box--grey {
    background: $grey;
}