.box {
    position: relative;
    min-height: 130px;
    border: 1px solid $grey;
    background: white;
    display: inline-block;
}

a.box {
    box-shadow: 0;
    transition: box-shadow 1s ease;

    &:hover,
    &:focus {
        box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.6);
        transition: box-shadow 200ms ease;
        text-decoration: none;
    }
}

.box-form {
    width: 100%;
    padding: 20px;
    margin: 0 auto;

    @media #{$medium} {
        width: 320px;
    }
}

.box-form--wide {
    @media #{$medium} {
        width: 60%;
    }
}

.box-fieldset {
    padding: 15px;

    legend {
        margin: 0;
    }
}

.box-testing {
    position: relative;
    width: 100%;
}

.box-testing__detail {
    padding: 15px;
    font-size: 12px;

    @media #{$large} {
        font-size: 16px;
    }
}

.box-testing__percent {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    min-height: 30px;
    padding: 5px 15px;
    font-size: 10px;
    background: $grey;

    span {
        margin-right: 20px;
    }

    @media #{$large} {
        font-size: 13px;
    }
}

.box-newuser {
    width: 100%;
    height: 130px;
    padding: 45px 0;
    border: 3px dashed $primary;
    text-align: center;

    .fa-plus {
        width: 30px;
        height: 30px;
        padding-top: 8px;
        border-radius: 50%;
        color: white;
        text-align: center;
        background: $primary;
    }

    &:hover,
    &:focus {
        text-decoration: none;
    }
}

// element
.box__thumbnail {
    position: relative;
    width: 115px;
    height: 130px;
    padding: 5px;
    text-align: center;
    color: white;
    background: $primary;
    float: left;    

    .text-big {
        position: absolute;
        top: 50%;
        left: 50%;
        display: block;
        transform: translate(-50%,-50%);
    }
}

.box__desc {
    position: absolute;
    top: 0;
    left: 115px;
    padding: 5px;
    font-size: 14px;
    width: calc( 100% - 115px );
}

.box__close {
    position: absolute;
    top: 0;
    right: 0;
    padding: 0 7px;
    color: white;
    background: $grey_dark;

    &:hover,
    &:focus {
        background: darken($grey_dark, 10%);
        color: white;
    }
}

// modifier
.box--block {
    width: 100%;
}

.box--grey {
    background: $grey;
}