.header {
    position: relative;
    z-index: 2;
}

.header-logo {
    margin-top: 4px;
}

.header-list {
    position: relative;
    height: 50px;
    list-style: none;
    margin: 0;
    padding: 0;
    float: right;

    & > li {
        margin: 10px;
        float: left;
        position: relative;
    }

    .dropdown-menu {
        position: absolute;
        top: 124%;
        right: 0;
        padding: 0;
        border: 2px solid $grey_dark;
        border-radius: 5px;
        margin: 0;
        display: none;
        background: white;
        list-style: none;
    }

    .dropdown-menu--show {
        display: block;
    }

    ul:before {
        position: absolute;
        bottom: 100%;
        right: 5px;
        width: 0; 
        height: 0; 
        border-left: 8px solid transparent;
        border-right: 8px solid transparent;
        border-bottom: 8px solid $grey_dark;
        content: '';
    }

    ul > li > a {
        display: inline-block;
        border-bottom: 1px solid $grey_dark;
        padding: 5px 10px;

        &:hover,
        &:focus {
            text-decoration: none;
            background: darken(white, 10%);
        }
    }
}

.notif {
    position: relative;
    width: 30px;
    height: 30px;

    .fa {
        font-size: 30px;
    }
    
    &:hover .notif__count,
    &:focus .notif__count {
        background: darken($red, 10%);
    }
}

.notif__icon {
    margin-top: 2px;
    display: inline-block;

    @media #{$medium} {
        margin-top: 0;
    }
}

.notif__count {
    position: absolute;
    top: -7px;
    right: 0px;
    height: 15px;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 10px;
    display: inline-block;
    font-size: 10px;
    line-height: 1.5;
    color: white;
    background: $red;

}

.notif-list {
    width: 200px;

    @media #{$medium} {
        width: 300px;
    }
}