.project-nav {
    width: 100%;
    display: block;
    list-style: none;
    padding: 0;

    li {
        width: 33.3333%;
        float: left;
    }
}

.project-nav__tab a {
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid $grey;
    border-bottom: 1px solid $grey;
    border-right: 1px solid $grey;
    display: inline-block;
    text-align: center;

    &:hover,
    &:focus {
        background: darken(white, 10%);
        text-decoration: none;
    }
}

.project-nav__tab:first-child a {
    border-left: 1px solid $grey;
}

.project-nav__tab a.active {
    background: $green_lime;
    color: white;
    border: 1px solid $green_lime;
}

.project-content {
    height: 0;
    overflow: hidden;
}

.project-content--show {
    padding-top: 60px;
    height: auto;
    overflow: visible;
}

.project-chart {
    width: 100%;
    height: 400px;
    background: url(../../assets/img/loading.gif) no-repeat;
    background-position: center;
}

.project-chart--done {
    background: none;
}