/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $black90;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.block-double {
    margin-bottom: $space*2;
}

.block-quad {
    margin-bottom: $space*4;
}

.block-half {
    margin-bottom: $space/2;
}

.block-up {
    margin-top: $space;
}

.container {
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
}

b,
strong {
    font-family: 'open_sansbold';
}

i,
em {
    font-family: 'open_sansitalic';
}

b i,
b em,
strong i,
strong em,
i b,
i strong,
em b,
em strong {
    font-family: 'open_sansbold_italic';
}

// 3 Header
// ------------------------------------------------------------------------ //


// 4 Page styles
// ------------------------------------------------------------------------ //
.main {
    position: relative;
    z-index: 1;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

.bg-grey {
    background: $grey;
    overflow: auto;
}

.title {
    font-size: 1.5em;

    @media #{$medium} {
        font-size: 2.3em;
    }
}

.subtitle {
    font-size: 1.3em;

    @media #{$medium} {
        font-size: 1.7em;
    }
}

// 5 Footer
// ------------------------------------------------------------------------ //

.footer {
    padding: 1em 0;
    text-align: center;
}