/*! [PROJECT_NAME] | Suitmedia */

//  1. Font-face
//  2. Basic styles
//  3. Header
//  4. Page styles
//  5. Footer

@import "partial/normalize";
@import "partial/variables";
@import "partial/resets";
@import "partial/helpers";
@import "partial/print";

@import "mixin/mixin";
@import "modules/modules";
@import "plugin/plugin";

// 1 Font-face
// ------------------------------------------------------------------------ //



// 2 Basic styles
// ------------------------------------------------------------------------ //

html {
    font: 400 $base_font_size $base_font_family;
    line-height: $base_line_height;
}

body {
    color: $black90;
}

a {
    color: $link;
    text-decoration: none;

    &:hover,
    &:focus {
        color: $link_hover;
    }
}

.block {
    margin-bottom: $space;
}

.block-double {
    margin-bottom: $space*2;
}

.block-quad {
    margin-bottom: $space*4;
}

.block-half {
    margin-bottom: $space/2;
}

.block-up {
    margin-top: $space;
}

.container {
    width: 95%;
    max-width: 1024px;
    margin: 0 auto;
}

b,
strong {
    font-family: 'open_sansbold';
}

i,
em {
    font-family: 'open_sansitalic';
}

b i,
b em,
strong i,
strong em,
i b,
i strong,
em b,
em strong {
    font-family: 'open_sansbold_italic';
}

// 3 Header
// ------------------------------------------------------------------------ //


// 4 Page styles
// ------------------------------------------------------------------------ //
.bg-grey {
    background: $grey;
    overflow: auto;
}

.title {
    font-size: 1.5em;

    @media #{$medium} {
        font-size: 2.3em;
    }
}

.subtitle {
    font-size: 1.3em;

    @media #{$medium} {
        font-size: 1.7em;
    }
}

.search {
    position: relative;
}

.search__input {
    padding-left: 20px;
    width: 100%;
    background: transparent;
    border: none;
    box-shadow: none;
}

.search__label {
    position: absolute;
    top: 7px;
    left: 0;
}

.user-avatar {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    display: inline-block;
}

.hide-on-mobile {
    display: none;

    @media #{$medium} {
        display: inline-block;
    }
}

.progress {
    width: 85%;
    height: 5px;
    margin-top: 10px;
    background: $grey;
    display: inline-block;
}

.progress-title {
    display: block;
}

.progress__bar {
    height: 5px;
    background: $blue;
}

// 5 Footer
// ------------------------------------------------------------------------ //

.footer {
    padding: 1em 0;
    text-align: center;
}